@font-face {
    font-family: lovelo;
    src: url(../fonts/lovelo.ttf);
}
@font-face {
    font-family: pba;
    src: url(../fonts/pba.ttf);
}

.pba {
  font-family: pba;
}

.lovelo {
  font-family: lovelo;
}

h1, h2, h3, .navbar-nav li a, #selectactu {
  text-transform: uppercase;
}

header {
  background-color: #1D1D1E;
}
